<h3 class="add-user-heading">Add/Upadte User </h3>
<hr>

<div class="form-group">
    Name : 
    <input class="form-control"
		type ="text"
		placeholder="Your name here."
		name= "name"
		[(ngModel)]="userModel.name">
</div>

<div class="form-group">
	Gender : 
	<select class="form-control" name="gender" [(ngModel)]="userModel.gender">
		<option value='m'> Male </option>
		<option value='f'> Female </option>
	</select>
</div>

<div class="form-group">
	Country : 
	<input class="form-control"
		type ="text"
		placeholder="Your Country here."
		name="country"
		[(ngModel)]="userModel.country">
</div>

<div class="form-group">
	<button *ngIf="isInsert" class="btn btn-primary" (click)="addUser()">Add User</button> 
    <button  *ngIf="!isInsert" class="btn btn-primary" (click)="updateUser()">Update</button>
	<button  class="btn " (click)="resetAddUser()">Reset</button>
</div>