<div class="container">

    <h1 class="app-heading">
    	{{title}}
	</h1>

	<div class="row">

		<div class="col-md-7">
			<app-user-list [userInfo]="userInfo" [reset]="reset" [userList]="userList"></app-user-list>
		</div>
		<div class="col-md-5">
			<app-add-user [userInfo]="userInfo" [reset]="reset" [userList]="userList"></app-add-user>
		</div>

	</div>

</div>
